/* modulo1.component.css */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  color: #0056b3;
}
